#childfooter1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
}

#childfooter1>a {
    text-decoration: none;
    color: #a8a09c;
}

#childfooter1 p {
    margin: -2px;
    font-size: 13px;
}

#childfooter2 {
    display: flex;
    gap: 2px;
    justify-content: space-between;
}

#childfooter2>div:first-child {
    width: 28%;
    border: 1px solid blue;
}

#childfooter2>div:last-child {
    width: 70%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    border: 1px solid black;
    gap: 10px;
    font-size: 15px;
}

#childfooter2>div:last-child a {
    display: block;
    padding: 5px;
}


/* #childfooter2>div:last-child div {
    display: grid;
} */