/* navbar css */

#navbar div {
    display: flex;
}

#childdiv1 {
    display: flex;
    justify-content: space-between;
}

#childdiv1>div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    color: #3a4c6a;
    margin: 0px 30px 0 30px;
}

#childdiv1 a {
    color: #3a4c6a;
    text-decoration: none;
}

#childdiv1 a>i,
p {
    display: inline;
}

#childdiv2 {
    justify-content: center;
}

#childdiv2 a {
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    color: #6882a2;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


/* menubar */

.menubar {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: -10px;
}

.menubar a {
    float: left;
    color: #3a4c6a;
    text-decoration: none;
}

.dropbtn {
    color: #3a4c6a;
    border: none;
    background-color: white;
    font-weight: bolder;
    font-size: 11px;
}

.dropdwon_content1 {
    display: none;
    position: absolute;
    width: 100vw;
    margin-left: -19%;
    padding: 0;
    border: 1px solid black;
}

.dropdown_container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.dropdown_container>div {
    display: grid;
    gap: 10px;
    justify-content: left;
}

.dropdown_container>div img {
    width: 80%;
    margin-bottom: -15px;
}

.dropdwon_content1 a,
h4 {
    color: #65728a;
    text-decoration: none;
}

.dropdown:hover .dropdwon_content1 {
    display: block;
}

.dropdwon_content2 {
    display: none;
    position: absolute;
    width: 100vw;
    margin-left: -28%;
    border: 1px solid black;
}

.dropdwon_content2 a {
    color: #3a4c6a;
    text-decoration: none;
}

.dropdown:hover .dropdwon_content2 {
    display: block;
}

.dropdwon_content3 {
    display: none;
    position: absolute;
    width: 100vw;
    margin-left: -38%;
    border: 1px solid black;
}

.dropdwon_content3 a {
    color: #3a4c6a;
    text-decoration: none;
}

.dropdown:hover .dropdwon_content3 {
    display: block;
}

.dropdwon_content4 {
    display: none;
    position: absolute;
    width: 100vw;
    margin-left: -45%;
    border: 1px solid black;
}

.dropdwon_content4 a {
    color: #3a4c6a;
    text-decoration: none;
}

.dropdown:hover .dropdwon_content4 {
    display: block;
}

.dropdwon_content5 {
    display: none;
    position: absolute;
    width: 100vw;
    margin-left: -59%;
    border: 1px solid black;
}

.dropdwon_content5 a {
    color: #3a4c6a;
    text-decoration: none;
}

.dropdown:hover .dropdwon_content5 {
    display: block;
}

.dropdwon_content6 {
    display: none;
    position: absolute;
    width: 100vw;
    margin-left: -70%;
    border: 1px solid black;
}

.dropdwon_content6 a {
    color: #3a4c6a;
    text-decoration: none;
}

.dropdown:hover .dropdwon_content6 {
    display: block;
}